<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456449790411-9ius15ednupb5tpf1nffbfntkh4cgvae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456449790411-9ius15ednupb5tpf1nffbfntkh4cgvae</string>
	<key>API_KEY</key>
	<string>AIzaSyArv3yUIl-pqReD20iSsn4J9yaEyhkbAEI</string>
	<key>GCM_SENDER_ID</key>
	<string>456449790411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everythingstack.xyz</string>
	<key>PROJECT_ID</key>
	<string>vg-everythingstack</string>
	<key>STORAGE_BUCKET</key>
	<string>vg-everythingstack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456449790411:ios:7be517b287bea52ff1a64e</string>
</dict>
</plist>